<div class="fondo animated fadeIn">
  <div class="row" style="height:5%;">
    <p class="title">Jugar x..</p>
  </div>
  <div class="juego">
  <!--<iframe src="D:/Documents\crepelite\src\assets\Doggos\UnityLoader.js" width="100%" height="100%"></iframe>-->
  <div [id]="getGameId()">
    
  </div>
  </div>
</div>
