.fondo {
  max-width: 95%;
  max-height: 100%;
  border-radius: 15px;
  background: white;
  position: absolute;
  display: inline-block;
  z-index: 10;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}
.title {
  margin: 10px 25px;
  font-size: 18px;
  font-weight: 600;
}
.juego {
  height: 95%;
  width: 100%;
}
