.flip {
  transform: rotate(180deg);
  transform: translate('-x','-y');
}
.row {
  width: 100vw;
  height: 50vh;
  margin: 0 !important;
}
.col {
  overflow: hidden;
  display:flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  border-top: 1px #FF6262;
  border: 1px dotted #F4f4f4;
}
.home {
  max-height: 50px;
  z-index: 5;
  position:absolute;
  top:0;
  left:0;
}
.distintivoAsiento {
  position: absolute;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6262;
  z-index: 1;
}
.distintivoAbajo { bottom: 0; }
.distintivoArriba { top: 0; }
.distintivoDerecha{ right: 0; }
.distintivoIzquierda { left: 0; }
.btn-home{

}
