<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="row flip" style="max-height:50vh;">
  <div class="col asiento1">
    <div class="home">
      <button (tap)="irAtras(1)" id="back1" type="button" class="btn btn-link" style="display: none; color:#FF6262; paading: 5px 15px;"><i class="fas fa-home"></i></button>
    </div>
    <div class="distintivoAsiento distintivoAbajo distintivoIzquierda">
      Asiento 1
    </div>
    <div #asiento1></div>
  </div>
  <div class="col asiento2">
    <div class="home">
      <button (tap)="irAtras(2)" id="back2" type="button" class="btn btn-link" style="display: none; color:#FF6262; paading: 5px 15px;"><i class="fas fa-home"></i></button>
    </div>
    <div class="distintivoAsiento distintivoAbajo distintivoIzquierda">
      Asiento 2
    </div>
    <div #asiento2></div>
  </div>
  <div class="col asiento3">
    <div class="home">
      <button (tap)="irAtras(3)" id="back3" type="button" class="btn btn-link" style="display: none; color:#FF6262; paading: 5px 15px;"><i class="fas fa-home"></i></button>
    </div>
    <div class="distintivoAsiento distintivoAbajo distintivoIzquierda">
      Asiento 3
    </div>
    <div #asiento3></div>
  </div>
</div>


<div class="row" style="max-height:50vh;">
  <div class="col asiento4">
    <div class="home">
      <button (tap)="irAtras(4)" id="back4" type="button" class="btn btn-link" style="display: none; color:#FF6262; paading: 5px 15px;"><i class="fas fa-home"></i></button>
    </div>
    <div class="distintivoAsiento distintivoAbajo distintivoIzquierda">
      Asiento 4
    </div>
    <div #asiento4>
    </div>
  </div>
  <div class="col asiento5">
    <div class="home">
      <button (tap)="irAtras(5)" id="back5" type="button" class="btn btn-link" style="display: none; color:#FF6262; paading: 5px 15px;"><i class="fas fa-home"></i></button>
    </div>
    <div class="distintivoAsiento distintivoAbajo distintivoIzquierda">
      Asiento 5
    </div>
    <div #asiento5>
    </div>
  </div>
  <div class="col asiento6">
    <div class="home">
      <button (tap)="irAtras(6)" id="back6" type="button" class="btn btn-link" style="display: none; color:#FF6262; paading: 5px 15px;"><i class="fas fa-home"></i></button>
    </div>
    <div class="distintivoAsiento distintivoAbajo distintivoIzquierda">
      Asiento 6
    </div>
    <div #asiento6>
    </div>
  </div>
  </div>
