<app-juegos *ngIf="mostrarJuego" [juego]="juegoSeleccionado" [asiento]="asiento.asiento"></app-juegos>
<div class="" style="position:absolute; right: 0; top: 0; padding:15px; z-index:10;">
  <button type="button" class="btn btn-info" (tap)="cerrarJuego()" *ngIf="mostrarJuego" >Salir</button>
</div>
<h2 style="padding:10px; margin:10px;">Menu</h2>
<div class="card">
  <div class="row">
    <h3>Game Dogs</h3>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary" (tap)="jugar()">Play</button>
  </div>
</div>
